*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family: arial, sans-serif, tahoma, helvetica, verdana;
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
	color: rgba(128, 128, 128, 0.85);     /* color: rgba(66, 66, 66, 0.5); */
}

a{
	text-decoration: none;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
}

ul{
	list-style: none;
}

img{
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.wrapper{
	width: 96%;
	margin: 0 auto;
	padding: 1rem;
}


/*=== HEADER ===*/
.site__header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	box-shadow: 0.2rem 0.1rem 0.2rem 0.1rem rgba(45, 54, 48, 0.1);
	background-color: #ffffff;
}

.site__logo{
	width: 100%;
	margin: 1rem;
	padding: 1rem;
}

.site__logo{
	width: 40px;
	height: 40px;
}

.site__toggle__menu{
	position: absolute;
	top: 2rem;
	left: 1rem;
}

.toggle__menu{
	display: block;
	width: 40px;
	height: 40px;
	position: fixed;
	top: 2rem;
	right: 2rem;
}

nav{
	position: fixed;
	top: 4rem;
	left: -100%;     /* left: -100%; to hide and left: 0; to show */
	width: 75%;
	height: 100%;
	border-top-right-radius: 1rem;
	/*background-color: #341768;*/
	transition: 0.7s;
}

nav ul li{
	display: block;
	padding: 1rem;
	margin: 2rem 1rem;
	text-align: center;
	border-bottom: 0.1rem solid red;
}

nav ul li:last-child{
	border-bottom: none;
}


/*=== CONTENT ===*/
.site__content{
	top: 4rem;
	position: relative;
	width: 100%;
	padding: 0.5rem;
}

.site__content section{
	margin-bottom: 2rem;
}

.site__content section .title{
	text-align: center;
	margin-bottom: 1rem;
}

.site__content section h2{
	font-size: 3.2rem;    /* 32px */
}

.home{
	margin-top: 2rem;
}

.home .red{
	color: rgba(217, 12, 17, 0.6);
}

.home .blue{
	color: rgba(12, 17, 217, 0.6);
}

.home__image{
	border-radius: 1rem;
	overflow: hidden;
}

.services{
	font-size: 2rem;
	margin-top: 4rem;
}

.services__info__image{
	
}

.services__image{
	border-radius: 1rem;
	overflow: hidden;
}

.services__image img{
	transition: 0.8s;
}

.services__image img:hover{
	transform: scale(1.05);
}

.services__info p{
	margin: 2rem 0;
}

.services__info ul{
	list-style: '=> ';
	list-style-position: inside;
	color: red;
	font-size: 2rem;
}

.services__info ul li{
	margin-bottom: 2rem;
}

.gallery ul{
	
}

.gallery li{
	margin: 1.5rem 0;
}

.gallery__image{
	display: block;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 0.4rem 2.5rem rgba(14, 36, 49, 0.15);
}

.gallery__image img{
	transition: 0.8s;
}

.gallery__image img:hover{
	transform: scale(1.05);
}

.about{
	font-size: 2rem;
}

.about__image__info{
	
}

.about__info{
	margin: 2rem 0;
}

.about__info p{
	margin-top: 2rem;
}

.about__image{
	border-radius: 1rem;
	overflow: hidden;
}

.contact{
	width: 100%;
}

.contact__form{
	width: 100%;
	margin-top: 2rem;
}

.contact__form input{
	width: 100%;
	margin-bottom: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 0.1rem solid rgba(128, 128, 128, 0.45);
	outline: none;
}

.contact__form input[type=text],
.contact__form input[type=mail],
.contact__form input[type=button]{
	font-weight: bold;
}

.contact__form input[type=button]{
	display: block;
	width: 20rem;
	margin: 0 auto 2rem auto;
	border: none;
	color: #ffffff;
	cursor: pointer;
	background-color: rgba(15, 14, 255, 0.7);
}

.contact__form textarea{
	width: 100%;
	margin-bottom: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 0.1rem solid rgba(128, 128, 128, 0.45);
	resize: none;   /* disable the resizable property of a textarea */
}


/*=== FOOTER ===*/
.site__footer{
	width: 100%;
	margin-top: 4rem;
	padding: 2rem;
	text-align: center;
	background-color: rgba(128, 128, 128, 0.45);           /* rgba(157, 142, 139, 0.7) */
}

.social__icon{
	padding: 1rem;
	margin-bottom: 2rem;
}

.social__icon a{
	margin: 1rem;
	padding: 1rem;
}

.site__footer p{
	font-weight: bold;
	color: #ffffff;    /* rgba(240, 241, 242, 0.8) */
}


/*=== MEDIA QUERY - 576px ===*/
@media screen and (min-width: 576px) {
	.site__header{
		width: 100%;
		display: flex;
		flex-direction: row;
		position: fixed;
		top: 0;
		left: 0;


		/*background-color: #674593;*/
		height: 6rem;
	}

	.site__logo{
		margin: 1rem auto 1rem 1rem;   /* top right bottom left => right: auto; help to push nav to the right */
		padding: 1rem;
	}

	.site__toggle__menu{
		display: none;
	}

	nav{
		position: relative;
		top: 0;          /* 1rem */
		left: 0; 						/* reset left: -100%; in mobile ui/ux */
		border-top-right-radius: 0; 	/* reset border-top-right-radius: 1rem; in mobile ui/ux */
		transition: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-right: 4rem;
	}

	.site__header nav ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
	}

	.site__header nav ul li{
		margin: 1rem;          /* reset margin: 2rem 1rem; in mobile ui/ux */
		padding: 1rem;
		flex: 1 1 250px;
		align-self: center;
		border-bottom: none;
	}

	.site__header nav ul li a:hover{
		border-bottom: 0.2rem solid red;
	}

	.active{
		border-bottom: 0.3rem solid green;
	}

	.site__content{
	
	}

	.home{
		position: relative;
	}

	.home__image{
		
	}

	.home__info{
		position: absolute;
		top: 25%;
		left: 15%;
		right: 15%;
	}

	.services__info__image{
		display: flex;
		flex-direction: row;
		justify-content: space-between;


		align-content: center;
	}

	.services__item{
		/* flex-grow: 1(grow), flex-shrink: 0(don't shrink), flex-basis: 28%(each flex-item width is 28%) 
		   hence only 3 items per row because 28x3=84% and wrapper width is 96% i.e. difference is only 12% */
		flex: 1 0 28%;  
		margin: 2rem;
	}

	.services__info p{
		/*margin-top: 6rem;*/
	}

	.services__info ul{
		margin-left: 4rem;
	}

	.gallery ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.gallery ul li{
		/* flex-grow: 1(grow), flex-shrink: 1(shrink), flex-basis: 28%(each flex-item width is 28%) 
		   hence only 3 items per row because 28x3=84% and wrapper width is 96% i.e. difference is only 12% */
		flex: 1 1 28%;  
		margin: 2rem;
	}

	.about__image__info{
		display: flex;
		flex-direction: row;
		justify-content: space-between;


		align-content: center;
	}

	.about__item{
		/* flex-grow: 1(grow), flex-shrink: 0(don't shrink), flex-basis: 28%(each flex-item width is 28%) 
		   hence only 3 items per row because 28x3=84% and wrapper width is 96% i.e. difference is only 12% */
		flex: 1 0 28%;  
		margin: 2rem;
	}

	.about__info{
		/*margin-top: 6rem;*/
	}

	.contact{
		width: 40%;
		margin: 0 auto;
	}

	.contact__form input[type=button]{
		margin: 0 2rem 0 auto;
	}

}